<h1>Editing location</h1>

<%= render :partial => 'locations/form', :locals => { :location => @location, :button_text => "Update" } %>

<%= link_to 'Show', @location %> |
<%= link_to 'Back', locations_path %>
